
.body2{
  display: flex;
  flex-direction: row; 
  justify-content:space-between;
  align-items: center;
    margin-top: 0px;
    background-size: cover;
    background: linear-gradient(90deg,
         #17224d,
         #ffffff
    );
}

.titlle{
  margin-top: 30px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: white;
}

.container9{
  height: 100%;
  width: 320px;
  border-radius: 0.9rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  position: absolute; z-index: 3;
    left: 0em;
    top: 0px;
}

#boton9{
  border-radius: 1rem;
  width: 100%;
  background-color: white;
  padding: 0.5rem;
  margin-top: 10px;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  font-weight:bold;
  box-shadow: 0 10 0px rgba(0, 0, 5, 0);
}
#boton9:hover{
  background-color:aqua;
}

#boton10{
  border-radius: 1rem;
  width: 100%;
  margin-top: 70px;
  background-color: white;
  padding: 0.5rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  font-weight:bold;
  box-shadow: 0 10 0px rgba(0, 0, 5, 0);
}

#boton11{
  border-radius: 1rem;
  width: 100%;
  margin-top: 70px;
  background-color: white;
  padding: 0.5rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  font-weight:bold;
  box-shadow: 0 10 0px rgba(0, 0, 5, 0);
}

#boton12{
  border-radius: 1rem;
  width: 100%;
  margin-top: 70px;
  background-color:white;
  padding: 0.5rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  font-weight:bold;
  box-shadow: 0 10 0px rgba(0, 0, 5, 0);
}

#redo{
  border-radius: 5px;
  outline: auto;
}

.dentro{
  display: flex;
  flex-direction: row; 
  justify-content:space-between;
  align-items: center;
  position: absolute; z-index: 3;
    left: 20em;
    top: 100px;
}

#boton13{
  border-radius: 0.5rem;
}

#boton14{
  border-radius: 0.5rem;
}

.human-resources {
  --bg-color: #DCE9FF;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card {
  margin-top: 70px;
  width: 250px;
  height: 40px;
  background: #fff;
  border-radius: 1rem;
  border: rgb(201, 201, 201) solid 1.5px;
  overflow: hidden;
  display: flex;
  padding: 5px;
  justify-content:left;
  align-items: left;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  background: linear-gradient(90deg,
         #17224d,
         #a1b6f9
    );
}

.card:hover {
  transform: translateY(-4px) scale(1.000) translateZ(0);
  box-shadow: 0 12px 15px rgba(0,0,0,0.11),
    0 12px 23px var(--box-shadow-color);
}

.card:hover .overlay {
  transform: scale(3) translateZ(0);
}

.card:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card:hover .circle:after {
  background: var(--bg-color-light);
}

.card:hover p {
  color: var(--text-color-hover);
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 20px 40px rgba(0,0,0,0.11),
    0 20px 40px var(--box-shadow-color);
}

.card p {
 font-size:smaller;
 color:#fff;
 position: absolute;
 font-weight: bolder;
 letter-spacing: 1px;
  z-index: 1;
  top: 9px;
  left: 76px;
  transition: color 0.2s ease-out;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease-out;
}

.circle:after {
  content: "";
  width: 45px;
  height:45px;
  margin-left: 1px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  transition: opacity 0.2s ease-out;
}

.circle svg {
  z-index: 800;
  transform: translateZ(0);
}

.overlay {
  width: 30px;
  position: absolute;
  height: 30px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 5px;
  z-index: 0;
  transition: transform 0.2s ease-out;
}