
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.todo{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("portada3.jpg");
    background-size: cover;
    background: linear-gradient(90deg,
         #17224d,
         #17224d
    );
}

#uno{
  background-color:aqua;
  color: #17224d;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  position: absolute; z-index: 3;
  top: 200px;
  padding: 30px;
  left: 700px;
}

.field {
    margin-bottom: 10px;
  }
  
  .field label {
    display: block;
    font-size: 12px;
    color:#17224d;
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color:#17224d;
    color: #fff;
    border-radius: 6px;
  }

#cuadro{
 color:#17224d;
 font-weight: bold;
 
 text-align: center;
}
@media screen and (max-width: 768px) {
  .todo{
    flex-direction: column;
    align-items: center;
  }
  #uno{
    width: 90%;
    max-width: 100%;
  }
}
