
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.booody{
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100vh;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-layout {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.ciru{
  flex-direction: row;
  width: 100%;
  max-width: 700px;
  max-height: 750px;
  object-fit: cover;
  border-radius: 12px;
  
  margin-left: 40rem;
  margin-top: 8rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 0.5;
}
@keyframes fadeIn{
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

#uno {
  background-color: rgb(148, 219, 219);
  color: #17224d;
  width: 100%;
  max-width: 350px;
  max-height: 450px;
  border-radius: 10px;
  padding: 30px;
  
  position: relative;
  left: 15rem;
  top: -55vh;
}

.field {
    margin-bottom: 10px;
  }
  
  .field label {
    display: block;
    font-size: 12px;
    color:#17224d;
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color:#17224d;
    color: #fff;
    border-radius: 6px;
  }

#cuadro{
 color:#17224d;
 font-weight: bold;
 
 text-align: center;
}
@media screen and (max-width: 768px) {
  .booody{
    flex-direction:column;
    align-items: center;
  }
  #uno {
    left: 0;
    top: 0;
    margin: 2rem auto;
    flex-direction: column;
  }
  .ciru{
    flex-direction: column;
    max-height: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  #uno {
    padding: 20vh;
    margin: 20vh auto;
    width: 95%;
  }

  .field input {
    min-width: 100%;
    font-size: 16px;
  }

  input[type="submit"] {
    width: 100%;
  }
  .ciru {
    max-height: 150px;
  }
}
