
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body4{
  padding-top: 80px;
  min-height: 100vh;
  background: linear-gradient(90deg,
         #17224d,
         #ffffff);
  font-family: 'Segoe UI', sans-serif;
}

@keyframes fadeIn{
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

.far {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:16px;
  padding: 45px 15px;
  box-sizing: border-box;
  background-color: #e0e4f1;
}

.card-farmacia{
  max-width: 280px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0px;
  font-family: 'Segoe UI', sans-serif;
}
.card-farmacia:hover{
  transform: translateY(-4px);
}

.card-img {
  height: 160px;
  object-fit: cover;
  padding: 15px;
  box-sizing: border-box;
}

.boton-waze{
  background-color: #a4a4a4!important;
  transition: background-color 0.3s ease;
  color: #17224d !important;
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: 'Segoe UI', sans-serif;
}
.boton-waze:hover{
  background-color: #ccc!important;
}
.dropdown-toggle{
  background-color: #a4a4a4!important;
  transition: background-color 0.3s ease;
  border: none !important;
  color: #17224d !important;
  cursor: pointer;
  box-sizing: border-box;
}
.dropdown-toggle:hover{
  background-color: #ccc!important;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
  background-color: #e0e4f1;
  box-sizing: border-box;
  padding: 6px;
  font-family: 'Segoe UI', sans-serif;
  word-spacing: 2px;
  padding: 2px;
}
.horario-item {
  padding: 4px;
  background-color: #e0e4f1;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

@media screen and (max-width: 768px) {
  .far {
    flex-direction:column;
    align-items: center;
  }
  .dropdown-container {
    flex-direction: column;
    align-items: stretch;
  }
  .card-farmacia {
    width: 90%;
    max-width: 90%;
  }
}
.dropdown-container {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
