.body4{
    margin-top: 0px;
    height: 111vh;
    
    background-size: cover;
    background: linear-gradient(90deg,
         #17224d,
         #ffffff
    );
}
.imagenquenosequierecambiar{
  width: auto;
  height: 120px;
  
}
.far {
  display:flex;
  flex-wrap:wrap;
  
  justify-content: center;
  padding: 220px;
  gap: 16px;
  
}
#dee{
  
  border-radius: 20px;
    border: rgb(60, 59, 59) solid 1.5px;
}
#deee{
  background-color: #17224d;
  color: white;
}


