
.duo{
    position: absolute;
    display: flex;
    
    align-items: center;
    z-index: 13;
    left: 1280px;
    top: 65px;
    cursor: pointer;
}

#fu{
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  text-align: center;
  color: white;
  position: absolute; z-index: 10;
  top: 688px;
  width: 100%;
  left: 0;
    animation: mymove 70s infinite;
    white-space: nowrap;
  }

 @keyframes mymove {
  from {
    left: -90%;
  }
  to {
    left: 90%;
  }
}