
.duo {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: row;
  
  z-index: 13;
  left: 53%;
  top: 10vh;
  transform: translateX(-50%);
  cursor: pointer;
  text-align: center;
  padding: 1rem;
}

h1{
  font-family: 'Inter', sans-serif;
  font-weight:bold;
  font-size:190%;
  
  color: white;
  position: relative;
  left: 17rem;
  
}

.social-iicons .icon svg {
  width: 40px;
  height: 40px;
  float: left;
  fill: white;
  padding: 1vh;
  transition: transform 0.2s ease;
  position: relative;
  left: 18rem;
}

.social-iicons .icon svg:hover {
  transform: scale(2);
}

#fu {
  font-size:medium;
  text-align: center;
  color: white;
  position: absolute;
  z-index: 10;
  top: 92vh;
  width: 100%;
  left: 0;
  animation: mymove 70s infinite;
  white-space: nowrap;
 
}

@keyframes mymove {
  from {
    left: -90%;
  }
  to {
    left: 90%;
  }
}

@media screen and (max-width: 768px) {
  .duo {
  top: 30vh;
  
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  h1 {
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    top: -13vh;
    position: relative;
    text-align: center;
    
  }
  .social-iicons {
    justify-content: center;
    font-size: 1rem;
    top: -15vh;
    position: relative;
    text-align: center;
  }

  .social-iicons .icon svg {
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  #fu {
    font-size: 1rem;
    margin-top: 2vw;
    
  }
}
