
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.booody{
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100vh;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.enlace_sin_linea{
  font-family: 'Inter', sans-serif;
  position: absolute; z-index: 13;
  left: 6em;
  top: 82px;
  letter-spacing: 7px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size:large;
}
.enlace_sin_linea:hover{
    color: #c0cbf8;
    transform: translateY(-4px) scale(1.000) translateZ(0);
    box-shadow: 0 12px 15px rgba(0,0,0,0.11),
    0 12px 23px var(--box-shadow-color);
}
.enlace_sin_lineaa{
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  position: absolute;
   z-index: 123;
  left: 14.3em;
  top: 82px;
  color: white;
  letter-spacing: 7px;
  font-weight: bolder;
  font-size:large;
}
.enlace_sin_lineaa:hover{
  color: #c0cbf8;
  transform: translateY(-4px) scale(1.000) translateZ(0);
  box-shadow: 0 12px 15px rgba(0,0,0,0.11),
  0 12px 23px var(--box-shadow-color);
}

.enlace_sin_linea1{
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  position: absolute; 
  z-index: 133;
  left: 26em;
  top: 82px;
  color: white;
  letter-spacing: 7px;
  font-weight: bolder;
  font-size:large;
}
.enlace_sin_linea1:hover{
  color: #c0cbf8;
  transform: translateY(-4px) scale(1.000) translateZ(0);
  box-shadow: 0 12px 15px rgba(0,0,0,0.11),
  0 12px 23px var(--box-shadow-color);
}

.card-botones {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem 2.5rem;
  justify-content: end;
  padding: 12rem 6rem;
  width: 100%;
  box-sizing: border-box;
}

.card-botones button {
  background: linear-gradient(90deg, black, navy, blue);
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(60, 59, 59);
  padding: 1.5rem 2rem;
  min-width: 250px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
  flex: 1 1 180px;
}

.card-botones button:hover {
  transform: scale(1.05);
}
button#azul {
  background: linear-gradient(90deg,dodgerblue,lightskyblue) !important;
  color:darkblue;
}

.reg{
   color:white; 
   position: absolute; z-index: 3;
    left: 63em;
    top: 80vh;
}

.tituloLogin{
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  left:69vw;
  top: 93vh;
  position: absolute;
}
.tituloLogin:hover {
  transform: scale(1.1);
}

.nav-linkk{
    color: white;
    position: absolute; z-index: 3;
    left: 67vw;
    top: 96vh;
}

@media screen and (max-width: 768px) {
  .booody{
    flex-direction:column;
    align-items: center;
    grid-template-columns: 100vw;
  }

  .card-botones {
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 9rem;
  }

  .card-botones button {
    width: 80%;
    min-width: unset;
  }

  .login-area .tituloLogin,
  .login-area .nav-linkk, .reg {
    position: static !important;
    margin: -2rem auto;
    text-align: center;
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .booody{
    display: grid;
    grid-template-columns: 100vw;
  }
  .card-botones button {
    width: 80%;
    min-width: unset;
    text-align: center;
  }

  .login-area .tituloLogin,
  .login-area .nav-link,.reg {
    font-size: 0rem;
    justify-content: center;
  }
}
.login-area, .reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0rem;
}

.login-area .tituloLogin {
  letter-spacing: 3px;
  justify-content: center;
  font-weight: bolder;
  margin-top: -3rem;
}

.login-area .nav-linkk {
  color: white;
  justify-content: center;
  text-decoration: none;
  margin-top: -3rem;
  display: inline-block;
}

.login-area .nav-linkk:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 480px) {
  .enlace_sin_linea,
  .enlace_sin_lineaa,
  .enlace_sin_linea1, .reg{
    position: static;
    display: block;
    justify-content: center;
    margin: 0rem auto;
    text-align: center;
    font-size: 0.5rem;
  }
}