
.body3{
    margin-top: 0px;
    height: 100vh;
    background-size: cover;
    background: linear-gradient(90deg,
         #17224d,
         #ffffff
    );
}

.container{
  height: 75%;
  width: 800px;
  border-radius: 0.9rem;
  word-spacing: 7px;
  text-align: justify;
  
  font-size: 1.1rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 3rem;
  color: rgba(243, 244, 246, 1);
  position: absolute; z-index: 3;
    left: 24.3em;
    top:130px;
}

h4{
    margin-left:240px;
}