
.fondo2{
  background-image: url("portada2.jpg");
    background-size: cover;
    background: linear-gradient(90deg,
         #17224d,
         #17224d
    );
}
 
.form-container{
  
  width: 320px;
  border-radius: 0.9rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  margin-top: 120px;
  position: absolute; z-index: 1;
    left: 56em;
    top: 10px;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1rem;
  border-radius: 0.9rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.9rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 1px;
}

.input-group input {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid rgba(55, 65, 81, 1);
  background-color: rgba(17, 24, 39, 1);
  padding: 0.45rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.forgot a,.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  
}

.sign {
  display: block;
  border-radius: 1rem;
  width: 100%;
  background-color: aqua;
  padding: 0.5rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  font-weight: 600;
  box-shadow: 0 10 0px rgba(0, 0, 5, 0);
}

#checkbox{
  margin-left: 40px;
  position: relative;
  bottom: 16px;
}