@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.roww2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 20px;
}

@keyframes fadeIn{
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

.card-bodii2{
  max-width: 380px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;
  background-color: #f1f1f1;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.card-bodii2:hover{
  transform: translateY(-3px);
}

.card-text2{
    color: #ba7c00;
    text-shadow: black solid 3px;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
  .roww2 {
    flex-direction: column;
    align-items: center;
  }
  .card-bodii2{
    width: 90%;
    max-width: 100%;
  }
}

.card-text3{
  color: darkslategrey;
  font-weight: bolder;
}
.card-title1{
  color: darkslategrey;
  font-weight: bold;
  text-align: center;
  font-size:x-large;
  margin-top: 20px;
}